
HTML, BODY {
    padding: 0px;
    margin: 0px;
    background-color: #ECECEC;
}

HTML, BODY, INPUT, TEXTAREA, TD, P {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

DIV.links {
    padding: 5px;
    display: inline-block;
    padding-left: 35px;
    background-image: url("./firephp.png");
    background-repeat: no-repeat;
    background-position: 4px 4px;
}
DIV.icon {
    display: inline-block;
    position: relative;
}
DIV.icon IMG {
    position: relative;
    top: 4px;
}
DIV.notes {
    padding: 5px;
}

A {
    margin-right: 5px;
}
